---
// El path de la imagen debe ser absoluto desde la raíz del sitio
---

<a href="https://orbitbrackets.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
	<img src="/images/icon-orbitbrackets.svg" class="h-6" alt="Logo Orbit Bracket" />
	<span
		class="self-center whitespace-nowrap font-lato text-xl font-semibold uppercase tracking-wider text-theme-textPrimary"
		>Orbit<span class="text-brand-turquoise">Brackets</span>
	</span>
</a>
