---
import { Icon } from 'astro-icon/components'
import { Button } from '@/shared/components/ui';
---
<a
	href="https://youtube.com/@orbitbrackets"
	class="rounded-lg px-2 py-1 text-center text-sm font-medium text-theme-buttonTextRed hover:text-theme-buttonHoverTextRed focus:outline-none
		focus:ring-2 bg-theme-buttonBackground hover:bg-theme-buttonHoverBackground focus:ring-theme-buttonHoverRingRed"
>
	<Icon name="fa6-brands:youtube" title="Canal de Youtube de OrbitBrackets" size="32" />
</a>
