---
import type { CollectionEntry } from 'astro:content';
import CardDate from './CardDate.astro'
import CardTags from './CardTags.astro'

interface Props {
    /** The resource data */
    resource: CollectionEntry<'resources'>;
}

const { resource } = Astro.props;
---

<div class="mb-4 flex flex-wrap gap-4 justify-between items-start">
    <CardDate pubDate={resource.data.pubDate} />
    <CardTags tags={resource.data.tags} />
</div>