---
import { Headline, Subtitle } from "@shared/components/ui";
---

<div class="text-center pb-20">
    <Headline type="h1">Cursos</Headline>
    <Subtitle>Todos nuestros cursos en un solo lugar.</Subtitle>
</div>