---
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { Button } from '@/shared/components/ui';

interface Props {
    page: Page<CollectionEntry<'courses'>>;
}

const { page } = Astro.props;
---

{
    (page.url.prev || page.url.next) && (
        <nav class="flex justify-center mt-8 space-x-4" aria-label="Pagination">
            {page.url.prev && (
                <Button 
                    text='Anterior'
                    type='primary'
                    icon='mdi:arrow-left-thick'
                    iconPosition='left'
                    href={page.url.prev}
                    title='Página anterior'
                />
            )}
            {/* <span class="text-theme-buttonTextCharleston inline-flex items-center rounded-lg px-5 py-2.5 font-bold text-sm bg-theme-buttonBackground"> */}
            <span class="text-theme-textPrimary bg-theme-cardBackground border border-theme-cardBorder inline-flex items-center rounded-lg px-5 py-2.5 font-bold text-sm ">
                
                Página {page.currentPage} de {page.lastPage}
            </span>
            {page.url.next && (
                <Button 
                    text='Siguiente'
                    type='primary'
                    icon='mdi:arrow-right-thick'
                    iconPosition='right'
                    href={page.url.next}
                    title='Página siguiente'
                />
            )}
        </nav>
    )
}