---
import { Button } from '@shared/components/ui';

---
<div class="flex flex-row space-x-8 h-12 items-center">

    <Button
        text="Cursos en Youtube"
        type="primaryRed"
        href="https:/youtube.com/@orbitbrackets"
        target="_blank"
        icon="mdi:youtube"
    />
    <Button
        text="Recursos para descargar"
        type="link"
        href="#resources"
        icon="mdi:arrow-down-thick"
    />
</div>