---
import { Icon } from 'astro-icon/components'

export interface Props {
	socialIcon?: string
	socialLink?: string
	socialTitle?: string
}

const {
	socialIcon = 'fa6-brands:ello',
	socialLink = null,
	socialTitle = 'Social Link'
} = Astro.props as Props
---

<li class="flex h-14 w-14 rounded-full bg-white text-black">
	<a
		class="flex h-full w-full items-center justify-center rounded-full"
		href={socialLink}
		target="_blank"
	>
		<Icon name={socialIcon} title={socialTitle} size="24" />
	</a>
</li>
