---
import MainMenu from '@components/Navbar/components/MainMenu'
import Logo from '@components/Navbar/components/Logo'
import YoutubeButton from '@components/Navbar/components/YoutubeButton'
import MobileToggle from '@components/Navbar/components/MobileToggle'
---

<nav class="border-gray-200 bg-brand-dark">
	<div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4">
		<Logo />
		<div class="flex space-x-3 md:order-2 rtl:space-x-reverse">
			<YoutubeButton />
			<MobileToggle />
		</div>
		<div
			class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto"
			id="navbar-cta"
		>
			<MainMenu />
		</div>
	</div>
</nav>
