---
import MainLayout from '@layouts/MainLayout'
---

<MainLayout
	title="Orbit Brackets - Error 404"
	description="¡Ups! No pudimos encontrar la página que buscabas en Orbit Brackets"
>
	<main
		class="font-poppins flex h-svh w-full flex-col items-center justify-center bg-[#4ED1C5] text-white"
	>
		<h1 class="mb-4 text-5xl">Error 404</h1>
		<p class="font-base pb-10 text-xl">
			¡Ups! No pudimos encontrar la página que buscabas en <a class="font-bold" href="/"
				>Orbit Brackets</a
			>
		</p>
		<p class="mb-4">Pero no te preocupes, puedes volver al inicio fácilmente:</p>
		<a href="/" class="rounded-full bg-white px-4 py-2 text-sm text-[#4ED1C5]">Ir al Inicio</a>
	</main>
</MainLayout>
