---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Publica Fácil"
	description="Plantillas y recursos gráficos accesibles para emprendedores y pequeñas empresas."
>
	<main class="font-poppins flex h-svh w-full flex-col items-center justify-center bg-white">
		<img src="images/publicafacil-logo.webp" class="w-64" alt="Logo Techloop" />
		<h1 class="mb-6 text-5xl font-bold text-[#572AF1]">Publica Fácil</h1>
		<p class="text-balance text-center text-xl font-semibold">
			Plantillas y recursos gráficos accesibles para emprendedores y pequeñas empresas.
		</p>
		<div class="mt-14 flex w-full flex-row items-center justify-center gap-4"></div>
		<p class="font-base text-center text-3xl text-gray-400">Proximamente disponible</p>
	</main>
</Layout>
