---
import { Icon } from 'astro-icon/components'
---

<a
	href="https://youtube.com/@orbitbrackets"
	class="cursor-pointer rounded-lg px-2 py-1 text-center text-sm font-medium text-white focus:outline-none
		focus:ring-4 bg-red-600 hover:bg-red-700 focus:ring-red-800"
>
	<Icon name="fa6-brands:youtube" title="Canal de Youtube de OrbitBrackets" size="32" />
</a>
