---
import { Headline, Subtitle } from "@shared/components/ui";
---

<div class="text-center pb-20">
    <Headline type="h1">Recursos</Headline>
    <Subtitle>Descarga plantillas, documentos y recursos para impulsar tus proyectos</Subtitle>
</div>