<div class="flex flex-col items-center max-w-3xl text-center space-y-6">
	<img
		src="/images/icon-orbitbrackets.svg"
		alt="Orbit Brackets Logo"
		class="h-20 w-auto mb-2 bg-transparent"
	/>
	<h1
		class="tracking-wider uppercase self-center whitespace-nowrap font-lato text-3xl font-bold text-theme-textPrimary"
	>
		Orbit<span class="text-brand-turquoise">Brackets</span>
</h1>
</div>

