---
import { LogoOB, TaglineOB } from '@shared/components/brand'
---

<section class="bg-theme-heroBackground text-theme-textPrimary flex flex-col items-center justify-center py-24 space-y-8">
	<LogoOB />
	<TaglineOB />
</section>
